///////////////////////////////////////
///////////////////////////////////////
///////////////////////////////////////
///////////////////////////////////////
///////////////////////////////////////
//// General Vars
///////////////////////////////////////
$max-width:1200px;
///////////////////////////////////////
///////////////////////////////////////
///////////////////////////////////////
///////////////////////////////////////
///////////////////////////////////////
//// Colours Vars
///////////////////////////////////////
$font-dark: hsl(0, 0%, 20%);
$font-mid: hsl(0, 0%, 40%);
$green: hsl(174, 81%, 43%);
$light-green: hsl(174, 81%, 95%);
$dark-green: hsl(174, 81%, 37%);
///////////////////////////////////////
///////////////////////////////////////
///////////////////////////////////////
///////////////////////////////////////
///////////////////////////////////////
//// Reset Hides for GSAP 
///////////////////////////////////////
body,
nav,
.opening-statement>*,
.picture-gallery>div {
    visibility: visible;
}

///////////////////////////////////////
///////////////////////////////////////
///////////////////////////////////////
///////////////////////////////////////
///////////////////////////////////////
//// Basics 
///////////////////////////////////////
body {
    min-height: 100vh;
}

///////////////////////////////////////
///////////////////////////////////////
///////////////////////////////////////
///////////////////////////////////////
///////////////////////////////////////
//// 404 specific 
///////////////////////////////////////
section.four-zero-four {
    min-height: 70vh;
    @media all and (max-width: 900px) {
        flex-direction: column;
    }
    >div {
        position: relative;
        width: 100%;
        margin-bottom: 1.5em;
        >p:first-of-type {
            margin-top: 0;
        }
        @media all and (min-width: 900px) {
            width: 50%;
            &:last-of-type {
                padding-left: 1em;
            }
        }
    }
    .buttons {
        display: block;
    }
}